<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="MyConfigString" value="我的配置信息"/>
    <add key="Name" value="测试工程"/>
    <add key="Name123" value="测试工程123"/>
      </appSettings>
</configuration>